<div class='modal' tabindex='-1' role='dialog' id="<%= local_assigns[:id] %>">
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title text-center w-100'><%= local_assigns[:title] %></h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <p>
          <%= simple_format local_assigns[:body_message] %>
        </p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-light' data-dismiss='modal'>
          <%= local_assigns[:cancel_message] || "Annuler"  %>
        </button>
        <%= link_to local_assigns[:confirm_message] || "Accepter", confirm_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
